@using PagedList
@using PagedList.Mvc
@model  IPagedList<MvcBlogg.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-4">
    @foreach (var item in Model)
    {
        <img class="card-img-top" width="200" src="@item.Foto" alt="@item.Baslik">
        <div class="card-body">
            <a href="/Home/Index/@item.MakaleId">@item.Baslik</a>
            @if (item.Icerik.Length > 150)
            {
                <p class="card-text">
                    @Html.Raw(item.Icerik.Substring(0, 150)) ...
                </p>
            }
            else
            {
                <p>
                    @Html.Raw(item.Icerik) ...
                </p>
            }

            <a href="/Home/MakaleDetay/@item.MakaleId" class="btn btn-primary">Devamını Oku</a>
        </div>
        <div class="card-footer text-muted">
            <img class="rounded-circle " width="50" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad" />
            <a href="/Uye/UyeProfil/@item.Uye.UyeId">@item.Uye.KullaniciAdi</a>
            <i class="fa fa-fw fa-times "></i>@string.Format("{0: MMMM yyyy}", item.Tarih)
            <i class="fa fa-fw fa-tags"></i>@item.Etikets.Count()

        </div>
    }

    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pagination">
                @Html.PagedListPager(Model, Page=>Url.Action("Index", new {Page }),PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>

</div>